.report {
    @include ModalContainer;
    z-index: 2;
    
    &__layout {
      @include ModalLayout;
      background-color: gray;
      opacity: 0.9;
    }
    
    &__content {
      max-height: 400px;
      background-color: white;
      @include ModalContent;
  
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
          padding: 10px 100px;
          text-align: center;
          border-bottom: 1px solid $borderColor;
          cursor: pointer;
  
          input {
            opacity: 0;
            position: absolute;
          }
        }
      }
    }
}
  